/* Fonts start */

@font-face {
	font-family: "FreeSet Cyrillic";
	src: url("../fonts/freeset-cyrillic/freeset-cyrillic.eot"); /* IE9 Compat Modes */
	src: url("../fonts/freeset-cyrillic/freeset-cyrillic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		url("../fonts/freeset-cyrillic/freeset-cyrillic.otf") format("opentype"), /* Open Type Font */
		url("../fonts/freeset-cyrillic/freeset-cyrillic.svg") format("svg"), /* Legacy iOS */
		url("../fonts/freeset-cyrillic/freeset-cyrillic.ttf") format("truetype"), /* Safari, Android, iOS */
		url("../fonts/freeset-cyrillic/freeset-cyrillic.woff") format("woff"), /* Modern Browsers */
		url("../fonts/freeset-cyrillic/freeset-cyrillic.woff2") format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "FreeSet Bold Cyrillic";
	src: url("../fonts/freeset-bold-cyrillic/freeset-bold-cyrillic.eot"); /* IE9 Compat Modes */
	src: url("../fonts/freeset-bold-cyrillic/freeset-bold-cyrillic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		url("../fonts/freeset-bold-cyrillic/freeset-bold-cyrillic.otf") format("opentype"), /* Open Type Font */
		url("../fonts/freeset-bold-cyrillic/freeset-bold-cyrillic.svg") format("svg"), /* Legacy iOS */
		url("../fonts/freeset-bold-cyrillic/freeset-bold-cyrillic.ttf") format("truetype"), /* Safari, Android, iOS */
		url("../fonts/freeset-bold-cyrillic/freeset-bold-cyrillic.woff") format("woff"), /* Modern Browsers */
		url("../fonts/freeset-bold-cyrillic/freeset-bold-cyrillic.woff2") format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}

/* Fonts end */


/* Reset css start */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Reset css end */


/* All border-box start */

html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}

/* All border-box end */


body {
	font-family: 'FreeSet Cyrillic';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #707070;
}

.wrapper {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}

.onega__header {
	display: grid;
	grid-template-rows: 1fr 1fr;
}

.onega__header-top {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
}